* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
padding: 1rem 0 1.2rem 0;
text-align: center;
text-transform: capitalize;
}

form {
    margin: 0 auto;
    width: 30rem;
}

label {
    font-weight: 600;
}

input {
   margin: 0.8rem 0;
   padding: 0.6rem;
   width: 30rem;
}

#submit_btn {
    padding: 0.8rem;
    text-align: center;
    background: #444444;
    color: white;
    width: 8rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: none;
}

#first-name-err, #last-name-err, #email-err, #mobile-number-err, #password-err, #bio-err {
    text-align: center;
    margin: 1rem 0;
    color: #ffa606;
    font-weight: 500;
}