* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    text-align: center;
    padding-top: 2rem;
    word-spacing: 0.2rem;
    font-size: 1.8rem;
}

.input {
    display: flex;
    justify-content: center;
}

input {
    padding: 0.7rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    border: 0.2px solid #e5c9c5;
    /* outline: 0.2px solid #f4e8e7; */
}

.add_btn {
    width: 8rem;
    background: #e5c9c5;
    color: white;
}

.error_message {
    text-align: center;
    margin-top: 1rem;
    color: #ea3929;
    font-weight: 800;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.output_div {
    margin: 0.5rem auto;
    padding: 0.8rem 1.5rem;
    background: #e5c9c5;
    display: flex;
    width: 61.5rem;
    /* justify-content: space-between; */
}

.name , .country{
    flex: 0.3;
    margin: auto 0;
}

.score {
    flex: 0.35;
    margin: auto 0;
}

.all {
    display: flex;

}

.del_btn, .del_btn_1 {
    border: none;
    background: none;
    color: #ea3929;
}

.del {
    padding: 1.2rem 1.1rem;
    border-radius: 50%;
    background: white;
    margin-right: 0.4rem;
}

.add {
    padding: 1.1rem 1.4rem;
    border-radius: 50%;
    background: white;
    margin-right: 0.4rem;
}

.sub {
    padding: 1.1rem 1.3rem;
    border-radius: 50%;
    background: white;
    margin-right: 0.4rem;
}
