@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  section {
    margin: 5rem auto;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding-top: 2rem;
    word-spacing: 0.6rem;
    font-size: 1.8rem;
}

  .input {
    display: flex;
    justify-content: center;
}

input {
    padding: 0.7rem;
    margin-right: 0.4rem;
    margin-top: 1.5rem;
    border: 0.2px solid #e5c9c5;
    outline: 0.2px solid #f4e8e7;
}

.add_btn {
    width: 8rem;
    background: #e5c9c5;
    color: white;
}

.error_message {
    text-align: center;
    margin-top: 1rem;
    color: #ea3929;
    font-weight: 800;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


  .add {
    background: #e5c9c5;
    margin: 1rem auto 0;
    height: 3rem;
    padding: 1rem 1.2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 67.5%;
  }

  h5 {
    margin-top: 0.5rem;
    margin-left: -4.5rem;
    font-size: 1rem;
  }

  .date {
    font-size: 0.7rem;
    color: grey;
    margin-top: -1.3rem;
  }

  .delBtn,
  .plus,
  .minus {
    background-color: white;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    margin-right: 5px;
    border-radius: 50%;
  }

  .icons {
    display: flex;
    margin-right: 3rem;
  }

  .top {
    margin-top: 1rem;
  }

  .plus:hover,
  .minus:hover,
  .delBtn:hover {
    background-color: rgb(155, 245, 155);
  }