@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans:wght@200&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero_section {
    background: gray;
    text-align: center;
    padding-bottom: 5rem;
    background:linear-gradient(0deg, rgb(60, 90, 116, 0.4), rgb(60, 90, 116, 0.9)), url(./images/globe-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h4 {
    text-transform: uppercase;
    padding-top: 8rem;
    font-size: 2rem;
    letter-spacing: 10px;
    color: #faf9f9;
    font-weight: 800;
}

.total_countries {
padding-top: 0.8rem;
color: #faf9f9;
font-weight: 700;
}

.countries_start {
    color: #faf9f9;
    padding-top: 0.5rem;
    font-size: 0.8rem; 
}

.buttons {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.start_btn, .search_btn {
    font-size: 0.6rem;
    padding: 0.7rem 0.5rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    border: none;
    background: #541cb3;
    color: #faf9f9;
}

.sort_btn {
    font-size: 0.6rem;
    padding: 0.6rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    border: none;
    background: #541cb3;
    color: #faf9f9;
}

.start_btn:hover, .search_btn:hover {
    background: #895be6;
}

.a {
    font-size: 0.4rem;
    margin-left: 0.4rem;
}

.last {
    font-size: 0.4rem;
    margin-left: 0.9rem;
}

.text_btn {
    border: none;
    border-radius: 50px;
    padding: 0.8rem;
    width: 22rem;
    margin-top: 1rem;
}

input {
    background: #f5f2f3;
    outline: none;
}

input::placeholder {
    text-align: center;
    font-weight: 400;
    color: #cacdd2;
}


.fa {
    margin-left: 0.5rem;
    color: white;
}
