body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
}

h4 {
    text-transform: capitalize;
}


.country_name {
    width: 200px;
}

.graph {
    background-color: #f2a93b;
    padding: 10px;
    text-align: center;
}